:root {
    --primary-color: rgb(13, 106, 134);
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background:var(--primary-color) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 640px;
    background-color: #fff;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
}

.paragrafo {
    display: block;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    padding: 0 20px;
    height: 50px;
}

form input:focus {
    outline: 2px solid var(--primary-color);
}

form button {
    background: var(--primary-color);
    color: #fff;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    height: 50px;
}

form button:hover {
    background: rgb(23, 158, 199);
}